/* 
#outerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97vw;
    height: 97vh;
}

#mainDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} */
